<%- include('partials/header') %>    
<div class="label-header">
    <h1>ADD SHIPMENT</h1>
</div>
<div class="body">
    <form action="/add-shipment" method="post" autocomplete="off">
        <div class="container-fluid add-form">
            <div class="row">
                <div class="col">
                    <label for="number">Order Number:</label>
                    <input class="form-control" type="text" value="" name="number" id="number" required>
                </div>
                <div class="col">
                    <label for="lead">Lead:</label>
                    <input class="form-control" type="text" value="" name="lead" id="Lead" required>
                </div>
                <div class="col">
                    <label for="picked">Picked:</label>
                    <select class='form-select form-select' name="picked" id="picked">
                        <option value="false">No</option>
                        <option value="true">Yes</option>
                    </select>
                </div>
                <div class="col">
                    <label for="signedBol">Signed BOL:</label>
                    <select class='form-select form-select' name="signedBol" id="signedBol">
                        <option value="false">No</option>
                        <option value="true">Yes</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="commercialInvoice">Commercial Invoice:</label>
                    <select class='form-select form-select' name="commercialInvoice" id="commercialInvoice">
                        <option value="N/A">N/A</option>
                        <option value="No">No</option>
                        <option value="Yes">Yes</option>
                    </select>
                </div>
                <div class="col">
                    <label for="papsPars">Pars / PAPS:</label>
                    <select class='form-select form-select' name="papsPars" id="papsPars">
                        <option value="N/A">N/A</option>
                        <option value="No">No</option>
                        <option value="Yes">Yes</option>
                    </select>
                </div>
                <div class="col">
                    <label for="customsCleared">Customs Cleared:</label>
                    <select class='form-select form-select' name="customsCleared" id="customsCleared">
                        <option value="N/A">N/A</option>
                        <option value="No">No</option>
                        <option value="Yes">Yes</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="shipper">Shipper:</label>
                    <select class='form-select form-select' name="shipper" id="shipper">
                        <option value="false">No</option>
                        <option value="true">Yes</option>
                    </select>
                </div>
                <div class="col">
                    <label for="receiver">Receiver:</label>
                    <select class='form-select form-select' name="receiver" id="receiver">
                        <option value="false">No</option>
                        <option value="true">Yes</option>
                    </select>
                </div>
                <div class="col">
                    <label for="carrier">Carrier:</label>
                    <select class='form-select form-select' name="carrier" id="carrier">
                        <option value="false">No</option>
                        <option value="true">Yes</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="customerName">Customer:</label>
                    <input class="form-control" type="text" value="" name="client" id="client" list="customerName" required></td>
                    <datalist id="customerName">
                        <% customers.forEach(function(customer) { %>
                        <option value="<%= customer.customer %>">
                        <% }) %>
                    </datalist>
                </div>
                <div class="col">
                    <label for="fromTo">From / To:</label>
                    <input class="form-control" type="text" value="" name="fromTo" id="fromTo" required>
                </div>
                <div class="col">
                    <label for="carrierUsed">Carrier:</label>
                    <input class="form-control" type="text" value="" name="carrierUsed" id="carrierUsed" list="carrierName" required>
                    <datalist id="carrierName">
                        <% carriers.forEach(function(carrier) { %>
                        <option value="<%= carrier.carrier %>">
                        <% }) %>
                    </datalist>
                </div>
            </div>
            <div class="row">
                <button class="btn btn-success add-shipment-button">Add</button>
            </div>
        </div>
    </form>
</div>

<%- include('partials/footer') %>
